<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.athx.computermall.mapper.CartMapper">
    <!-- 使用insert, update,delete,select标签写sql -->
    <insert id="insertOne">
        insert into t_cart(uid,pid,price,num,created_user,created_time,modified_time,modified_user)
        values(#{uid},#{pid},#{price},#{num},#{createdUser},#{createdTime},#{modifiedTime},#{modifiedUser})
    </insert>
    <update id="updateNumByCid">
        update t_cart set num = #{num},modified_user=#{modifiedUser},modified_time=#{modifiedTime}
        where cid = #{cid}
    </update>
    <delete id="deleteCartItem">
        delete from t_cart where cid = #{cid}
    </delete>
    <delete id="deleteCheckedCartVO">
        delete from t_cart where cid in (
        <foreach collection="cids" item="cid" separator=",">
            #{cid}
        </foreach>
        )
    </delete>

    <select id="selectcartByUidandPid" resultType="com.athx.computermall.bean.Cart">
        select * from t_cart where uid = #{uid} and pid= #{pid}
    </select>
    <select id="selectListByuid" resultType="com.athx.computermall.Vo.CartVo">
        SELECT
            cid,
            uid,
            pid,
            t_cart.price,
            t_cart.num,
            t_product.title,
            t_product.price AS realPrice,
            t_product.image
        FROM
            t_cart
            LEFT JOIN t_product ON t_cart.pid = t_product.id
        WHERE
            uid = #{uid}
        ORDER BY
            t_cart.created_time DESC
    </select>
    <select id="selectByCid" resultType="com.athx.computermall.Vo.CartVo">
        select * from t_cart where cid = #{cid}
    </select>
    <select id="SelectVOByCid" resultType="com.athx.computermall.Vo.CartVo">
        select
             cid,
            uid,
            pid,
            t_cart.price,
            t_cart.num,
            t_product.title,
            t_product.price AS realPrice,
            t_product.image
        from
            t_cart
            LEFT JOIN t_product ON t_cart.pid = t_product.id
        where cid in (
        <foreach collection="cids" item="cid" separator=",">
            #{cid}
        </foreach>
        )

    </select>
</mapper>